body{
    background-color: lightpink;
}
ul{
    margin: 0;
    padding: 0;
}
*{
box-sizing:border-box;
}
ul li{
    background-color: #12bd98;
    padding:10px,20px,30px;
    cursor:pointer

}
ul :nth-child(even){
    background-color: mediumaquamarine;
}
ul li :hover{
background-color: mediumorchid;
}
.close{
    position: relative;
    right:0;
    top:0;
    padding:12px,15px,20px;
}
